[phases.setup]
nixPkgs = ["nodejs", "google-chrome"]

[phases.build]
cmds = ["npm install"]

[start]
cmd = "node server.js"

[variables]
PUPPETEER_SKIP_CHROMIUM_DOWNLOAD = "true"
PUPPETEER_EXECUTABLE_PATH = "/usr/bin/google-chrome-stable"
